<div id="welcome">
<h1>Welcome to Traffic Spy! Here is your account overview:</h1>
</div>
<div id="urls">
  <h2>Top requested URL's:</h2>
  <% urls.each_with_index do |url, index| %>
    <ul>
      <li><%= index+1 %>:  <%= url %></li>
    </ul>
  <% end %>
</div>
<div id="browsers">
  <h2>Browsers Used:</h2>
  <% browsers.each do |browser| %>
    <ul>
      <li><%= browser %></li>
    </ul>
  <% end %>
</div>
<div id="operating_systems">
  <h2>Operating Systems Used:</h2>
  <% operating_systems.each do |os| %>
    <ul>
      <li><%= os %></li>
    </ul>
  <% end %>
</div>
<div id="screen_resolutions">
  <h2>Screen Resolutions Used:</h2>
  <% screen_resolutions.each do |width, height| %>
    <ul>
      <li>Width: <%= width %>, Height: <%= height %></li>
    </ul>
  <% end %>
</div>
<div id="avg_response_times">
  <h2>Average Response Time for each URL:</h2>
  <% avg_response_times.each do |url, time| %>
    <ul>
      <li><%= url %>, <%= time %></li>
    </ul>
  <% end %>
</div>
<div id="links">
  <h2>Url Specific data:</h2>
  <% urls.sort.each do |url| %>
    <% path = URI( url ).path %>
    <ul>
      <li><a href='/sources/<%= identifier %>/urls<%= path %>'><%= url %></a></li>
    </ul>
  <% end %>
</div>
<div id="events">
  <h2>Events Index:</h2>
  <a href='/sources/<%= identifier %>/events'>click to view Events Index</a>
</div>











