<div id="header">
<h1>Data Analysis for: <%= root_url %>/<%= relative_path %></h1>
</div>
<div id="longest">
  <h2>Longest Response Time:  <%= longest_response_time %></h2>
</div>
<div id="shortest">
  <h2>Shortest Response Time:  <%= shortest_response_time %></h2>
</div>
<div id="average">
  <h2>Average Response Time:  <%= average_response_time %></h2>
</div>
<div id="verbs">
  <h2>HTTP Verbs Used:</h2>
  <% http_verbs.each do |verb| %>
    <h3><%= verb %></h3>
  <% end %>
</div>
<div id="referrers">
  <h2>Most Popular Referrers:</h2>
</div>
<div id="agents">
  <h2>Most Popular User Agents:</h2>
</div>
